$red: #f00;
$blue: #0066ff;
$blue-2: #2fa2f7;
$green: #32fd45;
$yellow: #fdbe32;

$white: #fff;

$grey1: #cccccc;
$grey2: #bebebe;
$grey3: #8e8e8e;
$grey4: #454545;
$grey5: #2e2e2e;
$grey6: #171717;
$system-clear-orange: #ffa834;

$black: #000;

$background-fallback: $white;
$input-text-color: rgba(255, 255, 255, 1);
$input-error-state-color: darken($red, 15%);
$input-bottom-line-color: $black;
$input-bottom-line-hover-color: $system-clear-orange;
$input-placeholder-color: darken($white, 15%);
$input-label-color: $white;
$input-error-label-color: darken($red, 15%);
$input-resting-state-color: $black;
$input-focused-state-color: $system-clear-orange;
$input-focused-label-color: $white;
$input-valid-state-color: $white;

$checkbox-color: $white;
$checkbox-text-color: $white;

$select-box-text-color: rgb(49, 49, 49);
$select-box-text-hover-color: $white;
$select-box-background-color: $white;
$select-box-background-hover-color: #4F4F4F;
$select-box-drop-down-color: darken($white, 5);

$button-success-color: rgba(255, 178, 83, 1);
$button-success-text-color: rgba(33, 33, 33, 0.87);
$button-success-hover-color: darken($button-success-color, 7);

$list-item-icon-background-color: $white;
$list-item-icon-text-color: #88c354;
$list-item-bottom-line: 1px solid #538c21;

$icon-hightlight-text-color: #eac51d;
