// TODO: Decide whether to maintain it or not
$prefix: 'd'; //from Druddr

$general-background-image: url("/assets/img/backgrounds/background-alt-4.jpg");
$general-background: $general-background-image cover !default;

/* Shadow effects */
$text-shadow: 0px 0px 6px rgba(97, 97, 97, 0.8);
$box-shadow: 0px 0px 5px 0px rgba(95, 95, 95, .8);
$box-shadow-hover: 0px 0px 5px 2px rgba(90, 90, 90, .8);

$breakpoint-smartphone: 420px;
$breakpoint-tablet: 768px;

$application-drawer-background-image: url(/assets/img/backgrounds/background-alt-2.jpg);
