<div ng-class="{show: show}" class="{{typeClass}}">
	<div class="modal">
		<div class="modal-header">
			<div class="modal-title" ng-transclude="title">
				No title!
			</div>
		</div>
		<div class="modal-body">
			<div ng-transclude="content" class="modal-content">
				No Content!
			</div>
		</div>
		<div class="modal-footer" ng-transclude="actions"></div>
		<div ng-show="showCloseButton" class="close-button">
			<i class="icon" ng-click="toggleModal()">clear</i>
		</div>
	</div>
</div>
