<div class="list">
	<div class="no-items" ng-if="purchases && purchases.length == 0">
		<div class="ball">
			<i class="icon">shopping_basket</i>
			<div class="explainer">{{'labels.noItems'|translate}}</div>
		</div>
	</div>
	<div class="item multi-line" ng-repeat="purchase in purchases | orderBy : 'dataCompra' : true" ng-if="purchases.length > 0">
		<i class="icon">shopping_basket</i>
		<div class="content">
			<h3>{{purchase.valor|currency}}</h3>
			<span>{{purchase.status}}</span>
			<span>{{purchase.dataCompra|date}}</span>
		</div>
	</div>
</div>
