<form ng-submit="buyCredits()">
	<d-general-modal modal-type="general" ref="getModalRef">
		<general-modal-title>{{'dashboard.shoppingCart.title'|translate}}</general-modal-title>
		<general-modal-content>
			<div markdown-to-html="'dashboard.shoppingCart.subtitle'|translate"></div>
			<ul class="errors-list" ng-if="shoppingCart.errors.length > 0">
				<li ng-repeat="error in shoppingCart.errors">{{error}}</li>
			</ul>
			<div class="field">
				<input type="number" name="shoppingCartQuantity" ng-model="shoppingCart.quantity" min="{{shoppingCart.minimumQuantity}}"
				 step="2" pattern="\d{2,3}" required>
				<label for="shoppingCartQuantity">{{'dashboard.shoppingCart.creditQuantity'|translate}}</label>
			</div>
			<p>
				{{'labels.total'|translate}}: {{shoppingCart.quantity|currency}}&nbsp;
				<small>(mínimo {{shoppingCart.minimumQuantity|currency}})</small>
			</p>
			<div class="field">
				<input type="text" name="creditCardNumber" ng-model="shoppingCart.creditCard.number" maxlength="22" required placeholder="{{'labels.emptyPlaceholder'|translate}}"
				 pattern="\d{13,22}">
				<label for="creditCardNumber">{{'dashboard.shoppingCart.card.number'|translate}}</label>
			</div>
			<div class="field">
				<input type="text" name="creditCardGoodThru" ng-model="shoppingCart.creditCard.goodThru" required placeholder="{{'labels.emptyPlaceholder'|translate}}"
				 pattern="\d{2}\/\d{2}">
				<label for="creditCardGoodThru">{{'dashboard.shoppingCart.card.goodThru'|translate}}</label>
			</div>
			<div class="field">
				<input type="text" name="creditCardVerifier" ng-model="shoppingCart.creditCard.verifier" maxlength="5" required placeholder="{{'labels.emptyPlaceholder'|translate}}"
				 pattern="\d{3,5}">
				<label for="creditCardVerifier">{{'dashboard.shoppingCart.card.verifier'|translate}}</label>
			</div>
		</general-modal-content>
		<general-modal-actions>
			<input type="submit" class="clear-button" value="{{'dashboard.shoppingCart.buy'|translate}}">
		</general-modal-actions>
	</d-general-modal>
</form>
