<!-- Usage:

<section class="card-list">
	<div class="card" ng-repeat="card in cards | orderBy: 'order'" ng-click="card.action()">
		<div class="header">
			<h3 class="title">{{card.title}}</h3>
			<h5 class="subtitle">{{card.description}}</h5>
		</div>
	</div>
</section>

-->
