<!DOCTYPE html>
<html ng-app="System">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Gasify App</title>
	<!-- inject:lib:css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet">
	<!-- endinject -->
	<!-- inject:lib:css -->
	<!-- none -->
	<!-- endinject -->
	<!-- inject:lib:css -->
	<link rel="stylesheet" href="fonts/material/font.css" type="text/css" />
	<!-- endinject -->
	<!-- inject:lib:css -->
	<!-- <link rel="stylesheet" href="css/sugar-ibeauty.min.css" type="text/css" /> -->
	<link rel="stylesheet" href="css/main.css" type="text/css" />
	<!-- endinject -->
	<meta name="viewport" id="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1,user-scalable=0" />

	<!-- inject:favicon -->
	<link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png">
	<!-- endfavicon -->

	<!-- When available, uncomment
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	-->
</head>

<body ng-controller="ApplicationController">
	<div id="image-background"></div>
	<div id="pattern-background"></div>

	<div class="loader" loader>
		<div class="icon">
			<i class="material-icons">autorenew</i>
		</div>
	</div>

	<d-message
		type="messageBox.type"
		message="messageBox.message"
		hide="messageBox.hide"
		toggle-callback="messageBox.toggleCallback"
		button-text="messageBox.buttonText"></d-message>

	<app-drawer
		data-hidden="appDrawer.hidden"
		profile-picture="appDrawer.profilePicture"
		user-name="appDrawer.userName"
		user-email="appDrawer.userEmail"
		></app-drawer>

	<app-bar
		ng-model="header"
		data-hidden="header.hidden"
		title="header.title"
		main-icon="header.mainIcon"
		main-icon-action="header.mainIconAction"
		actions="header.actions"
		custom-text="header.customText"
		></app-bar>

	<div id="main" class="view-animate-container">
		<section id="application-view" ng-view class="view-animate"></section>
	</div>

	<!-- Block: Cordova support -->
	<!-- <script src="cordova.js"></script>-->
	<!-- Blockend: Cordova support -->

	<!-- Block: Main script dependency set -->
	<script src="js/phpjs.js" type="text/javascript"></script>
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.17.1/sortable.min.js"></script>
	<script src="js/angular-i18n/angular-locale_pt-br.js" id="locale" type="text/javascript"></script>
	<script src="js/angular-input-masks-standalone.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<!-- sanitize is a requirement for markdown -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.min.js"></script>
	<!-- markdown lib CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-showdown/1.1.0/ng-showdown.min.js"></script>
	<!-- markdown lib CDN -->
	<!--
	<script src="js/sugar.min.js" type="text/javascript"></script>
	<script src="js/sugar.directives.js" type="text/javascript"></script>
	-->
	<!--<script src="js/axis.js" type="text/javascript"></script>-->
	<script src="js/axis.min.js" type="text/javascript"></script>
	<!-- Blockend: Main script dependency set -->

	<!-- Block: Load dependent libs -->
	<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBjMujtR_v-VtbVbnFYnWXdHwXRSuJF3E"></script> -->
	<!-- <script src="https://apis.google.com/js/api:client.js"></script> -->
	<!-- Blockend: Load dependent libs -->
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBnBZcEk3De7iYCnNg7m67g1C8_4XeD8B0" async defer></script>
	<script src="node_modules/ngmap/build/scripts/ng-map.js"></script>

	<!-- Block: Load app libs -->
	<script src="app/app.js" type="text/javascript"></script>
	<script src="app/components/app-bar/directive.js" type="text/javascript"></script>
	<script src="app/components/app-drawer/directive.js" type="text/javascript"></script>
	<script src="app/components/d/message/directive.js" type="text/javascript"></script>
	<script src="js/Loader.js"></script>
	<!-- Blockend: Load app libs -->

	<!-- Block: other application -->
	<!--<script src="js/hotjar.min.js"></script>-->
	<script src="js/analytics.min.js"></script>
	<!-- <script src="js/facebook.js"></script> -->
	<!-- Blockend: other application -->

	<!-- Sentry ( Bug reporter ) -->
	<!-- <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script> -->

	<!-- Hotjar Tracking Code for https://gasify.net.br/app -->
	<!-- <script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:null,hjsv:5};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script> -->
</body>

</html>
