<div>
	<div class="application-drawer-backdrop" ng-click="close()" ng-class="{ show: !dataHidden }"></div>
	<nav class="application-drawer" ng-class="{ 'visible': !dataHidden }">
		<div class="header">
			<div class="account-picture-wrapper">
				<div class="picture">
					<i class="icon no-avatar" ng-show="!profileImage">account_circle</i>
					<img src="{{profileImage}}" alt="{{userName}}">
				</div>
			</div>
		</div>
		<div class="body">
			<!-- <h3 class="subheader">Category</h3> -->
			<ul class="menu-items">
				<li ng-repeat="item in items" ng-click="item.action()">
					<i class="icon">{{item.icon}}</i>
					<div>{{item.text|translate}}</div>
				</li>
			</ul>
		</div>
		<div class="footer">

		</div>
	</nav>
</div>
