<span>
  {{previousText}} <a href="" ng-class="linkClass" ng-click='toggleModal()'>{{linkText}}</a>
  <d-general-modal modal-type="terms" ref="getTermsModalInstance" toggle-callback="toggleCallback">
    <general-modal-title>{{'terms.mainTitle'|translate}}</general-modal-title>
    <general-modal-content>
	    <div markdown-to-html="'terms.mkdown'|translate"></div>
    </general-modal-content>
  </d-general-modal>
</span>
