<div class="lost-password">
	<div class="header">
		<div class="logo">
			<img src="/assets/img/logo/logo.png" alt="{{settings.app.title}}">
		</div>
	</div>
	<div class="form">
		<div class="form-header">
			<div class="title">{{'passwordRequestCheck.title'|translate}}</div>
		</div>
	</div>
</div>
