<div class="redefine-password">
	<div class="header">
		<div class="logo">
			<img src="/assets/img/logo/logo.png" alt="{{settings.app.title}}">
		</div>
	</div>
	<user-redefine-password-form password-request-token="passwordRequest.token"></user-redefine-password-form>
</div>
