<div class="lost-password">
	<div class="bg-img">
		<d-svg name="backgrounds/grafismo_rota-01" />
	</div>
	<div class="header">
		<div class="logo">
			<d-svg name="icons/logotipo_simbolo_horizontal_cor-01" />
		</div>
	</div>
	<div class="d-message-box show error">
		<div class="message">
			<div class="header">
				<div markdown-to-html="'messages.browserDoesNotSupportMapBoxTitle'|translate" class="title"></div>
			</div>
			<div class="body">
				<div markdown-to-html="'messages.browserDoesNotSupportMapBoxText'|translate" class="content"></div>
			</div>
		</div>
	</div>
</div>
