<div class="form">
	<ul class="errors-list" ng-if="errors.length > 0">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
	<form id="idProfileForm" ng-submit="profileFormSubmit()">
		<div class="field">
			<!-- <label for="profileFormEmail">{{'profile.profileFormNameFieldLabel'|translate}}</label> -->
			<input id="profileFormEmail" type="text" ng-model="profileForm.email" placeholder="{{'profile.profileFormEmailFieldPlaceholder'|translate}}"
			 required />
		</div>
		<div class="field">
			<!-- <label for="profileFormFirstName">{{'profile.profileFormNameFieldLabel'|translate}}</label> -->
			<input id="profileFormFirstName" type="text" ng-model="profileForm.nome" placeholder="{{'profile.profileFormNameFieldPlaceholder'|translate}}" required />
		</div>
		<div class="field">
			<!-- <label for="profileFormCpf">{{'profile.profileFormCpfFieldLabel'|translate}}</label> -->
			<input id="profileFormCpf" type="text" ng-model="profileForm.cpf" placeholder="{{'profile.profileFormCpfFieldPlaceholder'|translate}}"
			required />
		</div>
		<div class="field">
			<!-- <label for="profileFormBirthday">{{'profile.profileFormBirthdayFieldLabel'|translate}}</label> -->
			<input id="profileFormBirthday" type="date" ng-model="profileForm.dataNascimento" placeholder="{{'profile.profileFormBirthdayFieldPlaceholder'|translate}}"
			 required />
		</div>
		<div class="field">
			<!-- <label for="profileFormSurname">{{'profile.profileFormTelephoneFieldLabel'|translate}}</label> -->
			<input id="profileFormTelephone" type="text" ng-model="profileForm.telefone" placeholder="{{'profile.profileFormTelephoneFieldPlaceholder'|translate}}" required />
		</div>
		<div class="region-form">
			<!-- <div class="title">{{'profile.stateLabel'|translate}}</div> -->
			<div class="field">
			<!-- <label for="profileFormStateId">{{'profile.profileFormStateIdFieldLabel'|translate}}</label> -->
				<pi-select options="stateChoices" options-key="id" options-text="name" ng-model="profileForm.estado" ng-required="true" ng-placeholder="'profile.statePlaceholder'|translate" />
			</div>
			<div class="field">
			<!-- <label for="profileFormTeamId">{{'profile.profileFormTeamIdFieldLabel'|translate}}</label> -->
				<pi-select options="teamChoices" options-key="id" options-text="name" ng-model="profileForm.idTime" ng-required="true" ng-placeholder="'profile.teamPlaceholder'|translate" />
			</div>
			<div class="info">
				{{'profile.actionsInfo'|translate}}
			</div>
		</div>
	</form>
</div>
