/*========================================================*/
/* application-drawer definitions */
/*========================================================*/
/* Variables */
$application-drawer-right-offset: 56px;
$application-drawer-full-width: 100%;
$application-drawer-menu-item-left-text-margin: 7.2em;
$application-drawer-lateral-padding: 1.6em;
$application-drawer-vertical-padding: .8em;
$application-drawer-menu-item-height: 4.8em;
$application-drawer-menu-item-icon-size: 2.4em;
$application-drawer-ease-in-timelapse: 450ms;

/* Definitions */

.application-drawer-backdrop {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0);
	transition: background $application-drawer-ease-in-timelapse ease-out;

	&.show {
		display: unset;
		background: rgba(0, 0, 0, 0.3);
		transition: background $application-drawer-ease-in-timelapse ease-in;
	}
}

.application-drawer {
	font-size: 10px; //Resetter
	position: fixed;
	top: 0;
	box-sizing: border-box;
	// padding: 2em 1.6em;
	height: 100vh;
	left: calc(-#{$application-drawer-full-width} - #{$application-drawer-right-offset} - 10px); //Throws the bar to the side
	width: calc(#{$application-drawer-full-width} - #{$application-drawer-right-offset});
	background: $white;
	box-shadow: $box-shadow;
	z-index: 11;
	transition: left $application-drawer-ease-in-timelapse ease-in;
	max-width: 32em;
	@media screen and (max-width: $breakpoint-smartphone) {
		max-width: 28em;
	}
	@media screen and (min-width: $breakpoint-tablet) {

		max-width: 32em;
	}

	&.visible {
		left: 0;
		transition: left $application-drawer-ease-in-timelapse ease-out;
	}

	.header {
		height: 16em;
		padding: $application-drawer-vertical-padding $application-drawer-lateral-padding;
		padding-top: 2.4em;
		border-bottom: 1px solid $grey1;

		// .background-image {
		height: 16em;
		background-image: $application-drawer-background-image;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		// filter: blur(1px); //Applies a blur to the image
		// }

		.account-picture-wrapper {
			height: 50%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			.picture {
				font-size: 10px;
				flex: 0 0 auto;
				margin: 0;
				border-radius: 50%;
				height: 7.2em;
				width: 7.2em;
				background: $white;
				overflow: hidden;
				text-align: center;

				.no-avatar {
					font-size: 7.2em; //Resetter
					color: rgba(0,0,0,.54)
				}

				img, svg {
					width: 7.2em;
				}
			}
		}
	}

	.body {
		font-size: 10px; //Resetter
		box-sizing: border-box;
		// height: 30em;
		padding: $application-drawer-vertical-padding $application-drawer-lateral-padding;
		border-bottom: 1px solid $grey1;

		h3,
		h4,
		h5,
		h6 {
			font-size: 1.4em;
			font-weight: 600;
			color: rgba(0,0,0,.54);
		}

		ul.menu-items {
			padding: 0;
			margin: 0;

			li {
				font-size: 10px; //Resetter
				height: $application-drawer-menu-item-height;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				color: rgba(0, 0, 0, .87);

				.icon {
					font-size: $application-drawer-menu-item-icon-size;
					// line-height: 2.4em;
					flex: 0 0 auto;
					margin: 0;
					color: rgba(0, 0, 0, .54);

					/* Adds a margin when there's an icon before the text */
					& + div {
						margin-left: 32px;
					}
				}

				div {
					font-size: 1.4em; //Resetter
					font-weight: 600;
					flex: 0 0 auto;
					margin: 0;
				}
			}
		}
	}

	.footer {
		padding: $application-drawer-vertical-padding $application-drawer-lateral-padding;
	}
}
