/*========================================================*/
/* backdrop-component for usage with overlappers */
/*========================================================*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background: rgba(0, 0, 0, .6);
	opacity: 1;
	z-index: 998;
	transition: all 320ms ease-in;

	&.hide {
		display: none;
		opacity: 0;
		z-index: -1;
		transition: all 220ms ease-out;
	}
}
