/*========================================================*/
/* Body */
/*========================================================*/

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1dd7a+0,7eb556+55,398235+100 */
	background: $background-fallback; /* Old browsers */
	background: -moz-linear-gradient(top, #00bdf8 0%, #00bdf8 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #00bdf8), color-stop(100%, #00bdf8));
	background: -webkit-linear-gradient(top, #00bdf8 0%, #00bdf8 100%);
	background: -o-linear-gradient(top, #00bdf8 0%, #00bdf8 100%);
	background: -ms-linear-gradient(top, #00bdf8 0%, #00bdf8 100%);
	background: linear-gradient(to bottom, #00bdf8 0%, #00bdf8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdf8', endColorstr='#00bdf8', GradientType=0);
	font-size: 10px;
	background-attachment: fixed;
	overflow: auto;
	padding: 0;
	margin: 0;
}
