/*========================================================*/
/* Button */
/*========================================================*/

//.#{$prefix}-button {

.button {
    background-color: #2e2e2e;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 35px;
    line-height: 35px;
}

.button:hover {
	background-color: #454545;
}

.button:active {
	background-color: #2e2e2e;
}

.button .d-loading {
}

/*========================================================*/
/* Dark-button */
/*========================================================*/

.clear-button {
	a,
	button,
	input[type=submit] {
		text-transform: uppercase;
		height: 2.25em;
		line-height: 2.25em;
		width: 13em;
		background: $white;
		font-size: 14px;
		font-weight: 500;
		color: $system-clear-orange;
		border: 1px solid $grey1;
		transition: all 250ms ease;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		outline: none;
		&:hover {
			background: darken(#00B96D, 10);
			color: $white;
		}
	}
	a:active,
	a:visited {
		background: $white;
		&:hover {
			background: darken(#00B96D, 10);
			color: $white;
		}
	}
}

.dark-button {
  a,
  button,
  input[type=submit] {
    text-transform: uppercase;
    height: 2.25em;
    line-height: 2.25em;
    width: 13em;
    background: #001d04;
    font-size: 14px;
    color: #FFF;
    border: none;
    transition: all 250ms ease;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: darken(#00B96D, 14);
    }
  }

  a:active,
  a:visited {
    background: #212121;

    &:hover {
      background: darken(#00B96D, 14);
    }
  }
}


/*========================================================*/
/* ClearButton */
/*========================================================*/

.clear-button {
    color: $blue-2;
    font-size: 14px;
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    text-decoration: none;
    font-weight: 400;

	&:hover {
		color: #cccccc;
    }

    &:active {
		color: #8e8e8e;
    }
}


/*========================================================*/
/* ButtonGroup */
/*========================================================*/

.button-group {
	display: table;

    &:after {
		display: table;
		clear: both;
    }

    &.is-right {
		margin-left: auto;
		margin-right: 0;
    }

    &.is-centered {
		margin-left: auto;
		margin-right: auto;
    }
}

/*========================================================*/
/* submit-button */
/*========================================================*/
.button,
.submit-button {
	align-self: flex-end;
	margin-top: .5em;

	a,
	button,
	input[type=submit] {
		text-transform: uppercase;
		height: 2.6em;
		line-height: 2.6em;
		width: auto;
		padding-left: 18px;
		padding-right: 18px;
		background: $button-success-color;
		font-size: 14px;
		font-weight: 500;
		color: $button-success-text-color;
		border: none;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		border-radius: .1em;
		box-shadow: $box-shadow;
		outline: none;
		transition: all 250ms ease;

		&:hover {
			transition: all 250ms ease;
			background: $button-success-hover-color;
			box-shadow: $box-shadow-hover;
		}

		&:disabled {
			cursor: not-allowed;
			background: $grey1;

			&:hover {
				cursor: not-allowed;
				background: $grey1;
			}
		}
	}

	a:active,
	a:visited {
		background: #212121;
		&:hover {
			background: $button-success-hover-color;
		}
	}
}
