/*========================================================*/
/* card-list-component */
/*========================================================*/

.card-list {
	margin: 0;
	padding: 0;
	padding-top: 0;
}
