/*========================================================*/
/* card-component */
/*========================================================*/

.card {
	font-size: 10px;
	// height: 10em;
	border-radius: .2em;
	background: $white;
	box-shadow: $box-shadow;
	box-sizing: border-box;
	margin: .8em 1.6em;

	&:active {
		box-shadow: $box-shadow-hover;
	}

	.header {
		font-size: 10px;
		padding: 2.2em 1.6em;

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-size: 10px;
			margin: 0;
			padding: 0;
		}

		.title {
			font-size: 2.4em;
			line-height: 1.5em;
			margin: 0;
			padding: 0;
			color: $grey6;
		}

		.subtitle {
			font-size: 1.4em;
			line-height: 1.4em;
			margin: 0;
			padding: 0;
			color: $grey4;
		}
	}

	.body {
		font-size: 10px;

		p {
			font-size: 1.4em;
			line-height: 1.4em;
			margin: 0;
			padding: 0;
			color: $grey4;
		}
	}

}
