.#{$prefix}-checkbox {
	display: flex;
	align-items: center;
	position: relative;

	span {
		margin-left: 0.8em;
	}

	label {
		width: 2em;
		height: 2em;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0);
		border: #000 solid 1px;
		transition: all 250ms ease;

		&:hover {
			border-color: #FFF;
		}

		&:after {
			content: '';
			width: 1.8em;
			height: 1em;
			position: absolute;
			top: -.3em;
			left: -.1em;
			border: 3px solid $checkbox-color;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
		}

		&:hover::after {
			opacity: 0.3;
		}
	}

	input[type=checkbox] {
		visibility: hidden;

		&:checked + label:after {
			opacity: 1;
		}
	}
}
