/*========================================================*/
/* Context panel */
/*========================================================*/
/* Variables */
$context-panel-height: 12em;

/* Definitions */
.context-panel {
	font-size: 10px;
	z-index: 10;
	height: $context-panel-height;
	background: $system-clear-orange;
	box-shadow: 0px 1px 5px 0px rgba(49, 49, 49, 0.75);

	.team {
		.picture {
			width: 5em;
			height: 5em;
			background: $white;
			border-radius: 50%;
		}
	}
}
