/*========================================================*/
/* Errors-list component */
/*========================================================*/
.errors-list {
	padding: 1em 0 .5em 1em;
	margin: 1em 0 .5em;
	font-size: 1.5em;
	color: $white;
	background: #ef5350;
	border-radius: .2em;
	box-shadow: $box-shadow;
	
	li {
		margin: 0 0 .5em 1em;
	}
}