/*========================================================*/
/* System header */
/*========================================================*/
$nav-height: 60px;
$menu-item-height: 2em;
$menu-title-font-size: 1.6em;

/* Definitions */
nav.nav {
	padding: 15px 20px;
	font-size: 10px;
	width: 100%;
	height: $nav-height;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(49, 49, 49, 0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(49, 49, 49, 0.75);
	box-shadow: 0px 1px 5px 0px rgba(49, 49, 49, 0.75);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: $white;
	background: $system-clear-orange;
	z-index: 9;

	& + * {
		margin-top: $nav-height + 8px;
	}

	.context-panel {
		width: 100%;
	}

	.left-action {
		flex: 0 0 auto;
		margin: 0;
		height: $menu-item-height;
		width: auto;

		.icon,
		.material-icons {
			align-self: center;
			font-size: $menu-item-height;
			font-weight: 400;
			// line-height: $menu-item-height;
		}
	}

	.title {
		flex: 0 0 auto;
		margin: 0;
		margin-left: 1.8em;
		font-size: $menu-title-font-size;
		line-height: $menu-title-font-size;
		font-weight: 500;
		text-transform: uppercase;
	}

	.toolbar {
		flex: 0 0 auto;
		// justify-self: flex-end;
		margin-left: auto;
	}
}

// ul {
// 	display: none;
// 	padding: 0;
// 	margin: 0;

// 	li {

// 	}
// }

