/*========================================================*/
/* icon */
/*========================================================*/
.icon {
	&.highlight {
		color: $icon-hightlight-text-color !important; // text-shadow: $text-shadow;

	}
}
