/*========================================================*/
/* Input */
/*========================================================*/

%input {
	flex: 0 0 auto;
	align-self: flex-start;
	height: 30px;
	font-size: 14px;
	font-weight: 500;
	//margin: 0.75em 1em;
	//width: calc(100% - 2em);
	margin: 0.75em 0;
	padding: 2px .5em 8px 0.5em;
	width: 100%;
	border: 0;
	border-bottom: $input-bottom-line-color solid 2px;
	//border-radius: 0.15em;
	background: transparent;
	color: $input-text-color;
	outline: none;
	z-index: 2;
	transition: all 250ms ease;

	/* Input is not empty anymore */
	&:required:not(:placeholder-shown) {
		/* But valid */
		&:valid+label {
			top: 0;
			color: $input-valid-state-color;
		}
		/* And invalid */
		&:invalid {
			border-bottom-color: $input-error-state-color;

			&+label {
				top: 0;
				color: $input-error-state-color;
			}
		}
	}

	/* When input is in resting state */
	&+label {
		position: relative;
		flex: 0 0 auto;
		z-index: 1;
		align-self: flex-start;
		left: .5em;
		font-size: 14px;
		font-weight: 500;
	}

	/* When input was not used yet */
	&:placeholder-shown {
		&+label {
			top: 30px;
			color: $input-label-color;
			transition: top 250ms ease-out;
		}
	}

	/* When input is in focused state */
	&:focus {
		transition: all 250ms ease;
		outline: none;
		border-bottom: 2px solid $input-bottom-line-hover-color;

		&::placeholder {
			color: transparent;
			text-shadow: unset;
			transition: all 250ms ease-out;
		}

		/* Label will displace top */
		&+label {
			top: 0;
			color: $input-focused-label-color;
			transition: top 250ms ease-in;
		}
		/* When input is required */
		&:required {
			/* But invalid */
			&:invalid+label {
				top: 0;
				color: $input-error-label-color;
			}
			/* And valid */
			&:valid,
			&:placeholder-shown {
				top: 0;
				color: $input-valid-state-color;
			}
		}
	}

	&::placeholder {
		font-weight: 500;
		color: $input-placeholder-color;
		text-transform: uppercase;
		text-shadow: $text-shadow;
		transition: all 350ms ease-in;
	}

    &.error {
		color: $red;
		border-bottom-color: $red;
    }

    // pseudo-classes
    // ------------------------------------------------------ //

    //  &:focus:not(.#{$prefix}-input--search) {
    //    background-color: transparent;
    //    border-color: $blue;
    //    color: $white;
    //  }

    // ------------------------------------------------------ //


    // pseudo-elements
    // ------------------------------------------------------ //

    &::-ms-clear { display: none; } // NOTE: Remove o X dos input's do Microsoft Edge

    &::-moz-placeholder,
    &:-moz-placeholder {
    	color: $grey2;
		opacity: 1;
	}

    // ------------------------------------------------------ //
  }

//$component: '.#{$prefix}-input';
$component: '.field input';

#{$component} {
    @extend %input;

    // &#{$component}--search {
    //   background-color: $white;
    //   border-color: $grey2;
    //   color: $black;

    //   &:focus { border-color: $blue; }
    // }

    // &#{$component}--tiny { width: 60px; } // input para inserir a 'velocidade de solo'
}

/*========================================================*/
/* Textarea */
/*========================================================*/

textarea {
	@extend %input;
	height: 40px;
}
