/*========================================================*/
/* list-component */
/*========================================================*/
/* Variables */
$single-line-item-height: 4.8em;
$single-line-font-size: 1.6em;
$list-lateral-padding: 16px;
$single-line-text-spacer: 72px;
$multi-line-text-spacer: 72px;
$icon-ball-size: 36px;
$icon-font-size: 24px;
$icon-image-size: 34px;
$multi-line-item-height: 7.2em;

/* Definitions */
.list {
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// justify-content: center;
	padding-top: 8px;

	.no-items {
		font-size: 10px;
		align-self: center;
		//position: relative;
		//top: 50%;
		margin: 0;
		// margin-top: calc(-200px / 2);
		height: 80vh;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.ball {
			flex: 0 0 auto;
			margin: 0;
			border-radius: 50%;
			background: darken($background-fallback, 1.5%);
			height: 22.0em;
			width: 22.0em;
			box-shadow: 0px 0px 5px 0px darken($background-fallback, 10%);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.icon {
				flex: 0 0 auto;
				margin: 0 0 .1rem 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				color: lighten($background-fallback, 6%);
				// background: lighten($background-fallback, 8%);
				font-size: 4.8em;
				height: auto; //5.8rem;
				width: auto; //5.8rem;
				//line-height: 4.8em;
				border-radius: 50%;
				// text-shadow: 0px 0px 3px rgba(72, 72, 72, 0.5);

				* {
					flex: 0 0 auto;
					margin: 0;
				}
			}

			.explainer {
				flex: 0 0 auto;
				margin: 0;
				font-size: 1.8rem;
				line-height: 1.8rem;
				font-weight: 700;
				color: lighten($background-fallback, 6%);
				// text-shadow: 0px 0px 3px rgba(72, 72, 72, 0.5);
			}
		}
	}

	.item {
		// background: $white;
		font-size: 10px;
		flex: 0 0 auto;
		margin: 0;
		box-sizing: border-box;
		height: $single-line-item-height;
		width: 100%;
		padding: 0 $list-lateral-padding;
		color: $white;

		/* 20% higher item */
		&.super-sized {
			height: calc(1.2 * $single-line-item-height)

		}

		&.single-line {
			font-size: 10px;
			height: 4.8em;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			border-bottom: $list-item-bottom-line;

			.icon {
				font-size: $icon-font-size;
				line-height: $icon-font-size;
				height: $icon-ball-size;
				width : $icon-ball-size;
				flex: 0 0 auto;
				margin: 0;
				border-radius: 50%;
				overflow: hidden;
				background: $list-item-icon-background-color;
				color: $list-item-icon-text-color;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				* {
					flex: 0 0 auto;
					margin: 0;
					text-shadow: $text-shadow;
				}
			}

			.avatar {
				flex: 0 0 auto;
				margin: 0;
				border-radius: 50%;
				overflow: hidden;
				background: $system-clear-orange;
				color: $white;

				img, svg {
					height: 100%;
				}
			}

			p, span, i, b, div, u {
				flex: 0 0 auto;
				margin: 0;
				/* Here we subctract lateral spacing,
				 * icon-ball-size from text space from
				 * left and we have a correct position
				 */
				margin-left: $single-line-text-spacer - $icon-ball-size - $list-lateral-padding;
				font-size: $single-line-font-size;
				line-height: $single-line-font-size;

				&.left {
					align-self: flex-start;
				}

				&.right {
					align-self: flex-end;
				}
			}
		}

		&.multi-line {
			font-size: 10px;
			height: $multi-line-item-height;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			.icon {
				font-size: $icon-font-size;
				line-height: $icon-font-size;
				height: $icon-ball-size;
				width: $icon-ball-size;
				flex: 0 0 auto;
				margin: 0;
				border-radius: 50%;
				overflow: hidden;
				background: $list-item-icon-background-color;
				color: $list-item-icon-text-color;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				* {
					flex: 0 0 auto;
					margin: 0;
					text-shadow: $text-shadow;
				}

				img {
					height: $icon-image-size;
					width: $icon-image-size;
				}
			}

			.content {
				width: 100%;
				height: 100%;
				font-size: 10px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				border-bottom: $list-item-bottom-line;
				margin-left: $multi-line-text-spacer - $icon-ball-size - $list-lateral-padding;

				h3, h4, h5 {
					font-size: 1.6em;
					line-height: 1.6em;
					flex: 0 0 auto;
					margin: 0;
				}

				span, div, i, b, u {
					font-weight: 500;
					font-size: 1.2em;
					line-height: 1.2em;
					flex: 0 0 auto;
					margin: 0;
				}
			}
		}
	}
}
