/*========================================================*/
/* Toolbar */
/*========================================================*/
/* Variables */
$z-index-loader: 9999;
$success-color: $system-clear-orange;
$secondary-color-smooth: lighten($system-clear-orange, 5%);
$loader-icon-size: 4em;
$primary-background: #039BE5;
$water-green: lighten($green, 5%);

/* Definitions */
.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}


.loader {
	//background: rgba(255,255,255,0.3);
	font-size: 10px; /* Resetter for reference model */
	display: none;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: $z-index-loader;
	-moz-filter: blur(0) !important;
	-webkit-filter: blur(0) !important;
	-ms-filter: blur(0) !important;
	filter: blur(0) !important;
	&.cut-point {
		.icon {
			color: $success-color !important;
		}
	}
	&.manual {
		&.returning {
			.icon {
				-moz-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
				-o-transform: translate3d(0, 0, 0);
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.24), 0 10px 10px rgba(0, 0, 0, 0.2);
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
			}
		}
		background: rgba(0, 0, 0, 0.0);
		box-shadow: none;
		.icon {
			color: $secondary-color-smooth;
			-moz-transition: none;
			-o-transition: none;
			-webkit-transition: none;
			transition: none;
			i {
				/*font-size: $loader-icon-size;*/
				-moz-transition: none;
				-o-transition: none;
				-webkit-transition: none;
				transition: none;
				-moz-animation: none;
				-o-animation: none;
				-webkit-animation: none;
				animation: none;
				/*padding: 0;*/
			}
			background: $white;
			/*color: $water-green;*/
			/*padding: 17px;*/
		}
	}
	.icon {
		font-size: 10px; /* Resetter for reference model */
		flex: 0 auto auto;
		width: $loader-icon-size;
		height: $loader-icon-size;
		line-height: $loader-icon-size;
		// margin: -$loader-icon-size/2 auto auto auto;
		text-align: center;
		color: $white;
		color: $primary-background;
		color: $success-color;
		background: $water-green;
		background: $white;
		border-radius: 50%;
		padding: 3px;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.24), 0 10px 10px rgba(0, 0, 0, 0.2);
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		i {
			flex: 0 auto auto;
			font-size: ($loader-icon-size)-1em;
			// display: block;
			// margin: 0;
			// padding: 10px;
			-moz-animation: icon-spin 0.8s infinite linear;
			-o-animation: icon-spin 0.8s infinite linear;
			-webkit-animation: icon-spin 0.8s infinite linear;
			animation: icon-spin 0.8s infinite linear;
		}
	}
}

