/*========================================================*/
/* Login-component */
/*========================================================*/
/* Variables */
$login-header-height: 12em;
$login-logo-height: 10em; //Consider margin-top!

/* Definitions */

.promo-image {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background: $general-background-image;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .3;
}

.blue-fallback {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background: #00bdf8;
}


.login {
	font-family: 'Roboto';
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: $white;
	//$general-background => assets/scss/settings/_variables.scss
	// background: $general-background; // Will use default

	.header {
		height: $login-header-height;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		.logo {
			align-self: center;
			margin-top: 2em;
			max-height: $login-header-height;
			color: $system-clear-orange;

			svg, img {
				height: $login-logo-height;
			}

			i.icon {
				font-size: $login-logo-height;
				text-shadow: $text-shadow;
			}
		}
		@media (min-width: $breakpoint-smartphone){
			justify-content: space-between;

			.logo {
				flex-basis: 50%;
			}
		}
	}

	.form {
		max-width: 40em;
		margin: auto auto 5em;

		.form-header {
			margin-top: 2em;
			margin-bottom: 1.5em;
			text-align: center;

			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 20px;
				margin-bottom: .5em;
				text-shadow: $text-shadow;
			}

			.subtitle {
				font-weight: 500;
				margin: 1.5em 0;
				font-size: 14px;

				.highlight {
					font-weight: inherit;
					text-decoration: none;
					color: #ffd100;
					transition: all 250ms ease;

					&:hover {
						color: lighten(#ffd100, 20);
					}
				}
			}

			.buttons {
				height: 42px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				button, input[type=button], a, a:link {
					flex: 0 0 auto;
					padding: 0;
					margin: 0 10px;
					width: 42px;
					height: 42px;
					background: transparent;
					border: 0;
					outline: none;

					svg {
						height: 42px;
						width: 42px;
						filter: drop-shadow(0px 1px 2px rgba(75, 75, 75, .6));
						transition: all 250ms ease-out;

						&:hover {
							filter: drop-shadow(0px 3px 7px rgba(75, 75, 75, .8));
							transition: all 250ms ease-in;
						}
					}
				}

				a {
					&:visited, &:active {
						text-decoration: none;
					}
				}
			}
		}

		.disclaimer-links {
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
			margin-bottom: .6em;

			.be-inside,
			.policy {
				margin: 0.2em .3em;
				padding: .3em .5em;
				flex: 0 0 auto;
				box-shadow: $box-shadow;
				border-radius: 0.1em;
				background-color: rgba(58, 58, 58, 0.7);
				transition: box-shadow 250ms ease;

				&:hover {
					transition: box-shadow 250ms ease;
					box-shadow: $box-shadow-hover;
				}

				a,
				a:link,
				a:visited {
					display: inline-block;
					color: $white;
					text-decoration: none;
					transition: text-decoration 250ms ease;
				}

				a:hover {
					transition: text-decoration 250ms ease;
					text-decoration: underline;
				}
			}
		}

		/*
		.social-buttons {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			flex-direction: row;
			margin-bottom: 1.5em;

			.title {
				font-size: 14px;
				flex-basis: 100%;
				margin: 0.5em;
			}

			.facebook-button,
			.google-button {
				flex-basis: 48%;
				text-transform: uppercase;
				height: 3em;
				font-size: 14px;
				border: none;
				border-radius: 0.1em;
				transition: all 250ms ease;
				padding: 0.4em;

				svg {
					max-width: 100%;
					max-height: 100%;

					.st0 {
						fill: #FFF;
					}
				}
			}

			.facebook-button {
				background: #3B5999;

				&:hover {
					background: darken(#3B5999, 14);
				}
			}

			.google-button {
				padding: 0.45em;
				background: #FFF;

				&:hover {
					background: darken(#FFF, 14);
				}
			}

		}*/

		//Imports directly from the file
		@import 'errors-list';

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			.title {
				margin: 0.5em 0 1em 0;
				font-size: 14px;
				font-weight: 500;
			}

			.field {
				padding: 0;
				margin: 0;
				margin-top: 16px;
				background: transparent;
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-start;
				//margin-bottom: 1em;

				//transition: all 250ms ease;

				input {
					@extend %input; //From _input.scss
				}

				&.link-at-left {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					flex-wrap: nowrap;
				}

				/* Not always present, but what if */
				.lost-password-action {
					margin-right: 1em;
					text-align: right;

					a {
						color: $input-text-color;
					}
				}

				// &:hover {
				// 	transition: all 250ms ease;
				// 	//box-shadow: $box-shadow-hover;
				// }

				// label {
				// 	top: 1em;
				// }

				// input {
				// 	font-size: 14px;
				// 	font-weight: 500;
				// 	//margin: 0.75em 1em;
				// 	//width: calc(100% - 2em);
				// 	margin: 0.75em 0;
				// 	width: 100%;
				// 	background: transparent;
				// 	border-top: 0;
				// 	border-left: 0;
				// 	border-right: 0;
				// 	border-bottom: $input-bottom-line-color solid 2px;
				// 	height: 3em;
				// 	padding: 0.5em;
				// 	color: $input-text-color;
				// 	transition: all 250ms ease;

				// 	&:focus {
				// 		transition: all 250ms ease;
				// 		outline: none;
				// 		border-bottom: 2px solid $input-bottom-line-hover-color;

				// 		//TODO: Will displace the placeholder
				// 		&::placeholder {
				// 			transition: top 250ms ease;
				// 			top: -1em;
				// 		}
				// 	}

				// 	&::placeholder {
				// 		font-weight: 500;
				// 		color: $input-placeholder-color;
				// 		text-transform: uppercase;
				// 		text-shadow: $text-shadow;
				// 	}
				// }

			}

			.actions {
				margin: 0 0 1em;
				// display: flex;
				// justify-content: space-between;
				// align-items: center;
				// background: $white;
				// border-radius: 0.2em;
				// box-shadow: $box-shadow;

				//&:hover {
				//	transition: box-shadow 250ms ease;
				//	box-shadow: $box-shadow-hover;
				//}

				/* Not always present, but what if */
				.#{$prefix}-checkbox {
					margin: .5em;

					span {
						color: $checkbox-text-color;
						font-size: 12px;
						font-weight: 500;
					}

					label {
						border-color: $checkbox-color;

						&:hover {
							border-color: $checkbox-color;
						}
					}
				}
			}

			.submit-button {
				@extend .submit-button;
			}
		}
	}

	.footer-message {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.icon {
			flex: 0 0 auto;
			height: 32px;
			width: 32px;
			font-size: 32px;
			line-height: 32px;
			padding: 0;
			margin: 0;
			margin-top: 15px;
			margin-bottom: 5px;
			color: $green;
			text-shadow: $text-shadow;
		}

		.app-title {
			flex: 0 0 auto;
			margin: 0 0 5px 0;
			padding: 0;
			font-size: 22px;
			font-weight: 500;
			font-style: italic;
			color: $white;
		}

		.fast-quote {
			padding: 0;
			margin: 0;
			flex: 0 0 auto;
			font-size: 14px;
			text-shadow: $text-shadow;
			color: $white;
		}
	}
}
