/*========================================================*/
/* lost-password */
/*========================================================*/
/* Variables */
$profile-header-height: $login-header-height;
$profile-logo-height: $login-logo-height; //Consider margin-top!

/* Definitions */
.lost-password {
	font-family: 'Roboto';
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: $white;

	.header {
		height: $profile-header-height;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		.logo {
			align-self: center;
			margin-top: 1em;
			max-height: $profile-header-height;

			svg, img {
				height: $profile-logo-height;
			}
		}

		/* Breakpoint for smartphones */
		@media (min-width: $breakpoint-smartphone) {
			justify-content: space-between;

			.logo {
				flex-basis: 50%;
			}
		}
	}

	.form {
		max-width: 40em;
		margin: auto auto 5em auto;

		.form-header {
			margin-top: 2em;
			margin-bottom: 1.5em;
			text-align: center;

			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 24px;
				margin-bottom: .5em; //TODO: This value changes from screen to screen, though, this is a good setting
				text-shadow: $text-shadow;
			}

			.subtitle {
				margin: 1.5em 0;
				font-size: 14px;

				.highlight {
					text-decoration: underline;
					color: #ffd100;
					transition: all 250ms ease;

					&:hover {
						color: $white;
					}
				}
			}
		}

		@import 'errors-list';

		.button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			@extend .button;

			a,
			button,
			input[type=button],
			input[type=submit] {
				flex: 0 0 auto;
				align-self: center;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			// margin-top: 1.5em;

			.field {
				/* This will draw a wrapper for .field > input */
				background: $white;
				border-radius: 0.2em;
				box-shadow: $box-shadow;
				margin-bottom: 1em;
				transition: all 250ms ease;

				&:hover {
					transition: all 250ms ease;
					box-shadow: $box-shadow-hover;
				}

				label {
					top: 1em;
				}

				input {
					font-size: 14px;
					margin: 0.75em 1em;
					width: calc(100% - 2em);
					background: $white;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-bottom: $input-bottom-line-color solid 2px;
					height: 3em;
					padding: 0.5em;
					color: $input-text-color;
					transition: all 250ms ease;

					&:focus {
						transition: all 250ms ease;
						border-bottom: 2px solid $input-bottom-line-hover-color;
						outline: none;

						/* TODO: Will displace the placeholder */
						&::placeholder {
							transition: top 250ms ease;
							top: -1em;
						}
					}

					&::placeholder {
						color: $input-placeholder-color;
						text-transform: capitalize;
					}
				}
			}

			.actions {
				margin: 0.75em 0 1.5em;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				&:hover {
					transition: box-shadow 250ms ease;
					box-shadow: $box-shadow-hover;
				}
			}

			.info {
				font-size: 1.2em;
				font-weight: 500;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				position: relative;
			}

			.submit-button {
				@extend .submit-button;
			}
		}

	}
}
