/*========================================================*/
/* Map-component */
/*========================================================*/
/* Definitions */
.map-view {
	height: 400px;

	.angular-google-map-container {
		height: 100%;
	}
}

