/*========================================================*/
/* message-box-component */
/*========================================================*/
/* Variables */
$alert-color: rgba(216, 134, 10, 1);
$error-color: rgba(206, 69, 45, 1);
$info-color: rgba(27, 129, 212, 1);
$success-color: rgba(76, 175, 80, 1);

/* Definitions */
.backdrop {
	@extend .backdrop;

	.#{$prefix}-message-box {
		font-size: 10px;
		font-weight: 500;
		opacity: 1;
		z-index: 999;
		background: transparent;
		height: 480px;
		width: 300px;
		position: fixed;
		top: calc(#{50%} - 240px);
		left: calc(#{50%} - 150px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/*
		right: 0;
		bottom: 0;*/
		transition: all 500ms ease;

		// /* Tablets */
		// @media screen and (min-width: $breakpoint-tablet) {
		// 	height: 80vh;
		// 	width: 300px;
		// 	top: 10vh;
		// 	left: 35vw;
		// }

		/* Smartphones */
		@media screen and (max-width: $breakpoint-smartphone) {
			height: 70vh;
			width: 80vw;
			top: 15vh;
			left: 10vw;
		}

		// &.hide {
		// 	display: none;
		// 	opacity: 0;
		// 	z-index: 0;
		// 	transition: all 220ms ease;
		// 	/*.modal {
		// 		transform: translateY(0);
		// 		z-index: 99;
		// 	}*/
		// }

		&.error {
			background: $error-color;

			.message {
				.header {
					.icon-ball {
						i.icon {
							color: $error-color
						}
					}
				}

				.footer {
					button {
						color: $error-color
					}
				}
			}
		}

		&.alert {
			background: $alert-color;

			.message {
				.header {
					.icon-ball {
						i.icon {
							color: $alert-color
						}
					}
				}

				.footer {
					button {
						color: $alert-color
					}
				}
			}
		}

		&.success {
			background: $success-color;

			.message {
				.header {
					.icon-ball {
						i.icon {
							color: $success-color
						}
					}
				}

				.footer {
					button {
						color: $success-color
					}
				}
			}
		}

		&.info {
			background: $info-color;

			.message {
				.header {
					.icon-ball {
						i.icon {
							color: $info-color
						}
					}
				}

				.footer {
					button {
						color: $info-color
					}
				}
			}
		}

		::-webkit-scrollbar {
			background-color: transparent;
			width: 0.3em;
		}
		// Botões da barra de rolagem
		::-webkit-scrollbar-button {
		}
		// Conjunto da barra de rolagem
		::-webkit-scrollbar-track {
			background-color: transparent;
		}
		// Background da barra de rolagem
		::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}
		// Indicador da barra de rolagem
		::-webkit-scrollbar-thumb {
			background-color: #000;
		}
		// Interceção entre barra de rolagem vertical e horizontal
		::-webkit-scrollbar-corner {
		}
		// Indicador de redimensinamento da barra de rolage,
		::-webkit-resizer {
		}

		.message {
			flex: 0 0 auto;
			color: #FFF;
			/*transform: translateY(-150%);*/
			//background: #d3d3d3;
			min-height: 1.6em;
			width: 90%;
			height: 90%;
			//border-radius: 0.2em;
			margin: 1em auto auto;
			overflow: auto;
			transition: all 250ms ease;
			z-index: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			//-moz-box-shadow: 0em 0em .5em #000;
			//-webkit-box-shadow: 0em 0em .5em #000;
			//box-shadow: 0em 0em .5em #000;

			//@media (max-height: 820px) {
			//	//margin-bottom: 5%;
			//}

			.header {
				flex: 0 0 auto;
				//width: 100%;
				margin: 1.8em 2.4em 0em;
				min-height: 2.2em;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.icon-ball {
					flex: 0 0 auto;
					margin: 0 0 15px 0;
					height: 150px;
					width: 150px;
					background: $white;
					border-radius: 50%;
					text-align: center;

					i.icon {
						font-size: 110px;
						line-height: 150px;
						color: transparent
					}
				}

				.title {
					flex: 0 0 auto;
					margin: 1em 0;
					padding: 0;
					text-align: center;
					font-size: 18px;
					font-weight: 600;
					align-self: center;
					text-align: left;
					font-weight: bold;
				}

				p {
					margin-top: .5em;
					margin-bottom: .5em;
				}
			}

			.body {
				flex: 0 0 auto;
				//width: 100%;
				margin: 1em 2.4em 2.4em;
				overflow-y: auto;
				min-height: 1.6em;
				height: auto;

				.content {
					align-self: center;
					font-size: 1.4em;
					text-align: center;

					ul {
						padding: 0;
						margin: 0;

						li {
							margin: 0;
							padding: 2px 0;
							font-size: 12px;
							line-height: 14px;
						}
					}
				}
			}

			.footer {
				flex: 0 0 auto;
				width: 100%;
				margin: 2.4em 0.8em 0.8em 0.8em;
				min-height: 36px;
				display: flex;
				justify-content: center;
				align-items: center;

				button, a, a:link {
					font-size: 15px;
					border: 0;
					border-radius: 20px;
					height: 40px;
					width: 90%;
					background: $white;
					color: transparent;
					box-shadow: $box-shadow;
					font-weight: 500;
					outline: none;
					transition: all 250ms ease-out;

					&:hover {
						box-shadow: $box-shadow-hover;
						transition: all 250ms ease-in;
					}
				}
			}
		}
	}
}
