/*========================================================*/
/* Profile-component */
/*========================================================*/
/* Variables */
$profile-header-height: $login-header-height;
$profile-logo-height: $login-logo-height; //Consider margin-top!

/* Definitions */
.profile {
	font-family: 'Roboto';
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: $white;

	.header {
		height: $profile-header-height;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		.logo {
			align-self: center;
			margin-top: 1em;
			max-height: $profile-header-height;

			svg, img {
				height: $profile-logo-height;
			}
		}

		/* Breakpoint for smartphones */
		@media (min-width: $breakpoint-smartphone) {
			justify-content: space-between;

			.logo {
				flex-basis: 50%;
			}
		}
	}

	.form {
		max-width: 40em;
		margin: auto auto 5em;

		.form-header {
			margin-top: 2em;
			margin-bottom: 1.5em;
			text-align: center;

			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 24px;
				margin-bottom: 1.5em;
				text-shadow: $text-shadow;
			}

			.subtitle {
				margin: 1.5em 0;
				font-size: 14px;

				.highlight {
					text-decoration: underline;
					color: #ffd100;
					transition: all 250ms ease;

					&:hover {
						color: $white;
					}
				}
			}
		}

		//Imports directly from the file
		@import 'errors-list';

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			// margin-top: 1.5em;

			select {
				width: 100%;
			}

			/*
			.top-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				@media(min-width: 42em) {
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;

					.right {
						margin-left: 2.5em;
						width: 65%;
					}
				}

				.left {
					position: relative;
					min-width: 13em;
					min-height: 18em;

					input[type=file] {
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}

					label {
						text-align: center;
						font-size: 14px;
						font-weight: 500;
						position: absolute;
						cursor: pointer;
						height: 9.6em;
						line-height: 9.6em;
						width: 9.6em;
						background-color: #FFF;
						border-radius: 50%;
						color: #212121;
						top: 0;
						left: 0;
						right: 0;

						&:hover {
							.icon {
								svg {
									border-width: 1px;
								}
							}
						}

						.image {
							text-align: center;
							font-size: 14px;
							font-weight: 500;
							position: absolute;
							cursor: pointer;
							height: 9.6em;
							line-height: 9.6em;
							background-color: #FFF;
							border-radius: 50%;
							color: #212121;
							top: 0;
							left: 0;
							right: 0;
							overflow: hidden;

							img {
								margin: auto;
								vertical-align: middle;
								position: absolute;
								transform: translate(-50%,0);
								min-height: 9.6em;
								min-width: 9.6em;
								border-radius: 50%;
								overflow: hidden;

								&.wider {
									width: auto;
									max-height: 100%;
									max-width: 100%;
								}

								&.higher {
									max-width: 100%;
									height: auto;
								}
							}
						}

						.icon {
							svg {
								border: #00B96D solid 5px;
								border-radius: 50%;
								position: absolute;
								width: 40%;
								top: 7.5em;
								left: 0;
								right: 0;
								height: 40%;
								margin: auto;
								background: #FFF;
								transition: all 250ms ease;

								.st0 {
									fill: #212121;
								}
							}
						}
					}

					svg {
						.st0 {}
					}
				}

				.right {
					width: 100%;
				}
			}
			*/

			.region-form {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				// margin-top: 1em;

				.title {
					color: #212121;
					font-size: 14px;
					padding-bottom: 0.2em;
					border-bottom: #212121 solid 0.1em;
					margin-bottom: 0.5em;
				}

				// .choices {
				// 	margin: 3em 0 2em;
				// 	font-size: 14px;
				// 	display: flex;
				// 	justify-content: space-around;
				// 	align-items: center;

				// 	label {
				// 		display: flex;
				// 		align-items: center;
				// 	}
				// }
			}

			.field {
				/* This will draw a wrapper for .field > input */
				background: $white;
				border-radius: 0.2em;
				box-shadow: $box-shadow;
				margin-bottom: 1em;
				transition: all 250ms ease;

				&:hover {
					transition: all 250ms ease;
					box-shadow: $box-shadow-hover;
				}

				label {
					top: 1em;
				}

				input {
					font-size: 14px;
					margin: 0.75em 1em;
					width: calc(100% - 2em);
					background: $white;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-bottom: $input-bottom-line-color solid 2px;
					height: 3em;
					padding: 0.5em;
					color: $input-text-color;
					transition: all 250ms ease;

					&:focus {
						transition: all 250ms ease;
						border-bottom: 2px solid $input-bottom-line-hover-color;
						outline: none;

						//TODO: Will displace the placeholder
						&::placeholder {
							transition: top 250ms ease;
							top: -1em;
						}
					}

					&::placeholder {
						color: $input-placeholder-color;
						text-transform: capitalize;
					}
				}
			}

			.actions {
				margin: 0 0 1em;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: $white;
				border-radius: 0.2em;
				box-shadow: $box-shadow;

				&:hover {
					transition: box-shadow 250ms ease;
					box-shadow: $box-shadow-hover;
				}

				/* Not always present, but what if in this page */
				.#{$prefix}-checkbox {
					margin: .5em;

					span {
						color: $checkbox-text-color;
						font-size: 12px;
					}

					label {
						border-color: $checkbox-color;

						&:hover {
							border-color: $checkbox-color;
						}
					}
				}
			}

			.info {
				font-size: 1.2em;
				font-weight: 500;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				position: relative;
			}

			.submit-button {
				@extend .submit-button;
			}
		}
	}
}
