/*========================================================*/
/* select box */
/*========================================================*/
/* Definitions */
.field:has(select) {
	background: $white;
	border-radius: 0.2em;
	box-shadow: $box-shadow;
	margin-bottom: 1em;
	transition: all 250ms ease;

	&:hover {
		transition: all 250ms ease;
		box-shadow: $box-shadow-hover;
	}

	.#{$prefix}-select ~ label {
		top: 1em;
	}

	.#{$prefix}-select {
		font-size: 10px;
		position: relative;

		&:hover {
			.icon {
				svg .st0 {
					fill: $select-box-text-color;
				}
			}
		}

		&.show {
			input[type=text] {
				background-color: $select-box-background-color !important;
			}
		}

		input[type=text] {
			cursor: pointer;
			background-color: $select-box-background-color !important;
			padding-left: 1em !important;
			margin: 0.75em 0;
			width: 100%;
			//background: #00B96D;
			border-radius: 0.15em;
			border-bottom: 2px solid $input-bottom-line-color;
			height: 3em;
			padding: 0.5em;
			color: $select-box-text-color;
			transition: all 250ms ease;

			&:focus {
				transition: all 250ms ease;
				border-bottom: 2px solid $input-bottom-line-hover-color;
				outline: none;

				//TODO: Will displace the placeholder
				&::placeholder {
					transition: top 250ms ease;
					top: -1em;
				}
			}

			&::placeholder {
				color: $input-placeholder-color;
				text-transform: capitalize;
			}

			// &:focus {
			// 	background-color: #4F4F4F !important;
			// }
		}

		.icon {
			position: absolute;
			width: .6em;
			height: 1.5em;
			right: 1em;
			top: 50%;
			transform: translateY(-50%);
			overflow: hidden;

			svg {
				width: 100%;
				height: 100%;

				.st0 {
					transition: all 250ms ease;
					fill: $select-box-text-color;
					opacity: 1;
				}
			}
		}

		ul {
			// display: none;
			position: absolute;
			z-index: 98;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0;
			padding: 0;
			list-style: none;
			background: $select-box-drop-down-color;
			border: 1px solid #FFF;
			color: $select-box-text-color;
			max-height: 18.3em;
			margin-top: -1em;
			overflow: auto;
			box-shadow: $box-shadow;
			//
			// &.show {
			// 	display: block;
			// }
			&.openUp {
				margin-top: 0;
				top: unset;
				bottom: 100%;
			}

			li {
				line-height: 2.9em;
				padding: 0.41em 1em;
				font-size: 1.1em;
				cursor: pointer;

				&:empty {
					line-height: 0;
					padding: 0;
					cursor: none;
				}

				&.category {
					cursor: auto;
					color: #74787A;
					text-transform: uppercase;

					// &:hover {
					// 	background: #363636;
					// }
				}

				&:hover {
					background-color: $select-box-background-hover-color;
					color: $select-box-text-hover-color;
				}
			}
		}
	}
}
