%title-base {
  color: $white;
  font-size: 14px;
  margin: 0;
  padding: 0 1.6em;
  text-decoration: none;
}

%title-theme {
  &.is-primary {
    color: $blue-2;
  }

  &.is-danger,
  &.is-error {
    color: $red;
  }

  &.is-warn {
    color: $yellow;
  }

  &.is-light {
    color: $grey2;
  }

  &.is-default {
    color: $white;
  }
}


/*========================================================*/
/* BigTitle */
/*========================================================*/

.category-big-title {
    @extend %title-base;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    // padding: 0 1.6em;
    text-transform: uppercase;
  }


/*========================================================*/
/* Title */
/*========================================================*/

  .category-title {
    @extend %title-theme;
    @extend %title-base;
  }


/*========================================================*/
/* SubTitle */
/*========================================================*/

  .category-subtitle {
    @extend %title-theme;
    @extend %title-base;

    &.is-tiny {
      font-size: 11px;
    }
  }
