/*========================================================*/
/* Toolbar */
/*========================================================*/
/* Variables */
$toolbar-item-size: 1.8em;

/* Definitions */
.toolbar {
	font-size: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	min-width: $toolbar-item-size;
	width: auto;
	box-sizing: border-box;

	.tool {
		flex: 0 0 auto;
		margin: 0 0 0 5px;
		height: $toolbar-item-size;
		width: $toolbar-item-size;
		border-radius: 50%;
		// background: darken($system-greenish-grey, 10%);

		i {
			font-size: $toolbar-item-size;
			line-height: 1em;
		}
	}
}
