<div class="form">
	<div class="form-header">
		<div class="title">{{'profile.formHeaderTitle'|translate}}</div>
		<div class="subtitle">{{'profile.formHeaderSubtitle'|translate}}</div>
	</div>
	<ul class="errors-list" ng-if="errors.length > 0">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
	<form id="idProfileForm" ng-submit="profileFormSubmit()">
		<div class="field">
			<!-- <label for="profileFormFirstName">{{'profile.profileFormNameFieldLabel'|translate}}</label> -->
			<input id="profileFormFirstName" type="text" ng-model="profileForm.nome" placeholder="{{'registerProfile.profileFormNameFieldPlaceholder'|translate}}" required />
		</div>
		<div class="field">
			<!-- <label for="profileFormCpf">{{'profile.profileFormCpfFieldLabel'|translate}}</label> -->
			<input id="profileFormCpf" type="text" ng-model="profileForm.cpf" placeholder="{{'registerProfile.profileFormCpfFieldPlaceholder'|translate}}"
			required />
		</div>
		<div class="field">
			<!-- <label for="profileFormBirthday">{{'profile.profileFormBirthdayFieldLabel'|translate}}</label> -->
			<input id="profileFormBirthday" type="date" ng-model="profileForm.dataNascimento" placeholder="{{'registerProfile.profileFormBirthdayFieldPlaceholder'|translate}}"
			 required />
		</div>
		<div class="field">
			<!-- <label for="profileFormSurname">{{'profile.profileFormTelephoneFieldLabel'|translate}}</label> -->
			<input id="profileFormTelephone" type="text" ng-model="profileForm.telefone" placeholder="{{'registerProfile.profileFormTelephoneFieldPlaceholder'|translate}}" required />
		</div>
		<div class="region-form">
			<!-- <div class="title">{{'profile.stateLabel'|translate}}</div> -->
			<div class="field">
			<!-- <label for="profileFormStateId">{{'profile.profileFormStateIdFieldLabel'|translate}}</label> -->
				<pi-select options="stateChoices" options-key="id" options-text="name" ng-model="profileForm.estado" ng-required="true" ng-placeholder="'registerProfile.statePlaceholder'|translate" />
			</div>
			<div class="field">
			<!-- <label for="profileFormTeamId">{{'profile.profileFormTeamIdFieldLabel'|translate}}</label> -->
				<pi-select options="teamChoices" options-key="id" options-text="name" ng-model="profileForm.idTime" ng-required="true" ng-placeholder="'registerProfile.teamPlaceholder'|translate" />
			</div>
			<div class="info">
				{{'profile.actionsInfo'|translate}}
			</div>
			<!-- USED WHEN OAuth is implemented
			<div class="terms" ng-if="!profileForm.readTermsOnRegister">
				<div class="nex-checkbox">
					<input id="idProfileFormReadTerms" type="checkbox" ng-model="profileForm.read_terms">
					<label for="idProfileFormReadTerms"></label>
					<na-terms-modal previous-text="{{'terms.readTermsLabel'|translate}}" link-text="{{'terms.termsOfUseLabel'|translate}} {{'terms.and'|translate}} {{'terms.privacyPolicyLabel'|translate}}" link-class="highlight"/>
				</div>
			</div>
			-->
			<div class="submit-button">
				<input type="submit" form="idProfileForm" value="{{'registerProfile.submitprofileForm'|translate}}" />
			</div>
		</div>
	</form>
</div>
