<div>
	<div class="form" ng-hide="formSubmitted">
		<div class="form-header">
			<div class="title">{{'lostPassword.formHeaderTitle'|translate}}</div>
			<div class="subtitle">{{'lostPassword.formHeaderSubtitle'|translate}}</div>
		</div>
		<ul class="errors-list" ng-if="errors.length > 0">
			<li ng-repeat="error in errors">{{error}}</li>
		</ul>
		<form ng-submit="lostPasswordFormSubmit()">
			<div class="field">
				<input id="lostPasswordFormEmail" ng-disabled="formSubmitting" type="email" ng-model="lostPasswordForm.email" value="{{lostPasswordForm.email}}" placeholder="{{'lostPassword.lostPasswordFormEmailFieldPlaceholder'|translate}}" required/>
			</div>
			<div class="submit-button">
				<input type="submit" ng-disabled="formSubmitting" value="{{'lostPassword.submitlostPasswordForm'|translate}}" />
			</div>
		</form>
	</div>
	<div class="form" ng-show="formSubmitted">
		<div class="form-header">
			<div class="title">{{'lostPassword.formSentTitle'|translate}}</div>
			<div class="subtitle">{{'lostPassword.formSentText1'|translate}}</div>
			<div class="subtitle">{{'lostPassword.formSentText2'|translate}}</div>
			<!--
			<div class="icon">
				<img src="assets/img/logo/logo.png" alt="{{settings.app.title}}">
			</div>
			-->
		</div>
		<div class="button">
			<button ng-click="redirectToDefault()">{{'lostPassword.returnToAuthentication'|translate}}</button>
		</div>
	</div>
</div>
