<div class="blue-fallback"></div>
<div class="promo-image"></div>

<div class="login">
	<div class="header">
		<div class="logo">
			<i class="icon">local_gas_station</i>
			<!-- <d-svg name="assets/img/logo/logo"></d-svg> -->
		</div>
	</div>
	<login-form ng-model="user"></login-form>
</div>
