<div class="lost-password">
	<div class="bg-img">
		<d-svg name="backgrounds/grafismo_rota-01" />
	</div>
	<div class="header">
		<div class="logo">
			<d-svg name="icons/logotipo_simbolo_horizontal_cor-01" />
		</div>
	</div>
	<div class="form">
		<div class="form-header">
			<div class="title">{{'labels.confirmingUserEmail'|translate}}</div>
		</div>
	</div>
</div>
