﻿<div class="profile">
	<div class="bg-img">
		<d-svg name="backgrounds/grafismo_rota-01"></d-svg>
	</div>
	<div class="header">
		<div class="logo">
			<d-svg name="icons/logotipo_simbolo_horizontal_cor-01"></d-svg>
		</div>
	</div>
	<register-form ng-model="user"></register-form>
</div>
