/*========================================================*/
/* Field */
/*========================================================*/

  .na-field {
    padding: 0 20px;
    position: relative;
    width: 100%;

    &.is-search {
      padding-bottom: 9px;
      padding-top: 9px;
    }

    &.is-speed {
      align-items: center;
      display: flex;
      flex-basis: 48px;
	  flex-shrink: 0;
      border-bottom: 0.2em solid #000;

      > :first-child {
        font-size: 14px;
        margin-left: auto;
      }
    }
  }



  // botão para o apagar texto do campo de pesquisa
  .na-field-icon {
    position: absolute;
    right: 20px;
    width: 30px;
    top: 0;
    padding: 8px;
    height: 30px;

    .na-field.is-search > & { margin: 9px 0; }

    > img { display: block; } // ícone do input de pesquisa
  }



  .na-searchInput {
    left: 48px;
    position: absolute;
    top: 0;
    width: calc(100% - 48px);
    max-width: 360px;

    &.is-active { z-index: 30 !important; }
  }
