/*========================================================*/
/* Login */
/*========================================================*/

  .#{$prefix}-login {
    background-color: #000;
    padding: 30px;
    position: absolute;
    left: 50%;
    max-width: 410px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

    .#{$prefix}-loginClose {
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .#{$prefix}-login .#{$prefix}-title,
    .#{$prefix}-login .#{$prefix}-link {
      font-size: 14px;
    }


  .#{$prefix}-loginLogo {
    padding-bottom: 20px;
    width: 170px;
  }

    .#{$prefix}-loginLogo img {
      display: block;
      height: auto;
      width: 100%;
    }


/*========================================================*/
/* loginControl */
/*========================================================*/

    .#{$prefix}-loginControl {
      align-items: center;
      display: flex;
      width: 100%;
    }

      .#{$prefix}-loginControl.is-end {
        align-items: flex-end;
      }

      .#{$prefix}-loginControl :last-child {
        margin-left: auto;
      }
