<nav class="nav" ng-if="!dataHidden">
	<div class="left-action">
		<i class="icon" ng-click="header.mainIconAction()">{{header.mainIcon}}</i>
	</div>
	<div class="title" ng-if="!(header.customText)">{{header.title}}</div>
	<div class="title" ng-if="(header.customText)">{{header.customText}}</div>
	<div class="toolbar" ng-if="header.actions.list && header.actions.list.length > 0">
		<div class="tool" name="action.name" ng-attr="action.attributes" ng-repeat="action in header.actions.list">
			<i class="icon" ng-click="action.click()">{{action.icon}}</i>
			<ul ng-if="action.items && action.items.length > 0">
				<li ng-repeat="item in action.items" ng-attr="item.attributes">
					<a href="{{item.click()}}" alt="{{item.name}}">{{item.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
