<div class="form" ng-attr="{ disabled: $parent.loggingIn }">
	<div class="form-header">
		<div class="subtitle" ng-if="!emailMode">{{'login.formHeaderSubtitle'|translate}} <a class="highlight" href="" ng-click="userRegister()">{{'login.formHeaderSubtitleHighlight'|translate}}</a></div>
		<div class="title">{{'login.formHeaderButtonsTitle'|translate}}</div>
		<div class="buttons">
			<button class="social-button"><d-svg name="icons/optimised/facebook-logo"></d-svg></button>
			<button class="social-button"><d-svg name="icons/optimised/google-plus-logo"></d-svg></button>
		</div>
	</div>
	<!-- TODO: Remove from here
	<div class="disclaimer-links">
		<div class="be-inside">
			<a href="#">{{'login.beInside'|translate}}</a>
		</div>
		<div class="policy">
			<a href="#">{{'login.privacyPolicy'|translate}}</a>
		</div>
	</div>
	<ul class="errors-list" ng-if="errors.length > 0">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
	-->
	<form ng-submit="loginFormSubmit()">
		<!-- TODO: Remove from styles <div class="title">{{'login.formTitle'|translate}}</div> -->
		<div class="field">
			<input id="loginFormEmail" type="email" ng-model="loginForm.email" value="{{loginForm.email}}" placeholder="{{'login.loginFormEmailFieldPlaceholder'|translate}}" required />
			<label for="loginFormEmail">{{'login.loginFormEmailFieldPlaceholder'|translate}}</label>
		</div>
		<!-- TODO: reuse link-at-left? <div class="field link-at-left"> -->
		<div class="field">
			<input id="loginFormPassword" type="password" ng-model="loginForm.password" placeholder="{{'login.loginFormPasswordFieldPlaceholder'|translate}}" required />
			<label for="loginFormPassword">{{'login.loginFormPasswordFieldPlaceholder'|translate}}</label>
			<!--
			<div class="lost-password-action">
				<a ng-click="userLostPassword()">{{'login.lostPasswordLink'|translate}}</a>
			</div>
			-->
		</div>
		<!-- TODO: Remove from here
		<div class="actions">
			<div class="d-checkbox">
				<input id="idLoginFormRememberMe" type="checkbox" ng-model="loginForm.rememberMe">
				<label for="idLoginFormRememberMe"></label>
				<span>{{'login.rememberMeLabel'|translate}}</span>
			</div>
		</div>
		-->
		<div class="submit-button">
			<input type="submit" ng-class="{ disabled: $parent.loggingIn }" value="{{'login.submitLoginForm'|translate}}" />
		</div>
	</form>

	<div class="footer-message">
		<i class="icon">monetization_on</i>
		<h3 class="app-title">Gasify</h3>
		<p class="fast-quote">É informação que gera mais economia</p>
	</div>
</div>
