<div class="lost-password">
	<div class="header">
		<div class="logo">
			<img src="/assets/img/logo/logo.png" alt="{{settings.app.title}}">
		</div>
	</div>
	<user-lost-password-form ng-model="user"></user-lost-password-form>
</div>
