﻿<div class="profile">
	<div class="header">
		<div class="logo">
			<img src="assets/img/logo/logo.png" alt="{{settings.app.title}}">
		</div>
	</div>
	<user-register-profile-form ng-model="userProfile"></user-register-profile-form>
</div>
