<div class="register">
	<div class="header">
		<div class="logo">
			<img src="assets/img/logo/logo.png" alt="{{settings.app.title}}">
		</div>
	</div>
	<user-register-form ng-model="user"></user-register-form>
</div>
