<div class="backdrop" ng-class="{ 'hide': hide }" ng-click="close()">
	<div class="d-message-box {{type}}">
		<div class="message">
			<div class="header">
				<div class="icon-ball">
					<i class="icon">{{'messageBox.icon.' + type|translate}}</i>
				</div>
				<div class="title">{{'messageBox.title.' + type|translate}}</div>
			</div>
			<div class="body">
				<div class="content">{{message}}</div>
			</div>
			<div class="footer">
				<button ng-click="button.action()">{{button.text}}</button>
			</div>
		</div>
	</div>
</div>
