$tool-bar-left-background: #262626 !default;


$tool-bar-right-background: rgba($tool-bar-left-background, .5) !default;
$tool-bar-right-background-hover: rgba(#2E2E2E, .8) !default;
$tool-bar-right-background-active: #0066ff !default;
$tool-bar-right-background-active-hover: rgb(0, 73, 183) !default;
