<div class="pi-select" ng-class="{show: showOptions}">
  <input type="hidden" ng-model="ngModel" ng-value="ngModel" />
  <input class="readonly-input" type="text" ng-blur="hide($event)" ng-model="selectedOption.text" ng-value="selectedOption.text" ng-required="ngRequired" placeholder="{{ngPlaceholder}}"/>
  <i class="icon" ng-click="dropDownArrowClick()"><d-svg name="icons/caret-down"/></i>
  <ul ng-show="showOptions" ng-class="{openUp: openUp}">
    <li ng-repeat="option in options" ng-class="{category: option.category}" ng-disabled="option.category" ng-click="onSelectItem(option, $event)">{{option.text}}</li>
  </ul>
</div>
