<div class="list">
	<div class="no-items" ng-if="items && items.length == 0">
		<div class="ball">
			<i class="icon">{{icon}}</i>
			<div class="explainer">{{'labels.noItems'|translate}}</div>
		</div>
	</div>
	<div class="item {{type}}" ng-repeat="item in items | orderBy: orderByProperty" ng-click="action(item)">
		<i class="icon">{{icon}}</i>
		<div class="content">
			<h3>{{item[titleProperty]|currency}}</h3>
			<span>{{item[subtitleProperty]|date}}</span>
		</div>
	</div>
</div>
